* {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  font-size: 18px;

  @include for-phone {
    font-size: 14px;
  }

  @include for-wide-screen {
    font-size: 20px;
  }
}

body {
  text-align: center;
  background-color: $light-gray;
  color: $black;
  height: 100vh;
  overflow: hidden;

  @include for-phone {
    overflow: scroll;
  }

  @include for-tablet {
    overflow: scroll;
  }
}
