.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0 10vw;
  height: 90vh;

  @include for-phone {
    grid-template-columns: 1fr;
    padding: 0 2vw;
    height: auto;
  }

  @include for-tablet {
    grid-template-columns: 1fr;
    padding: 0 4rem;
    height: auto;
  }

  @include for-wide-screen {
    padding: 0 25vw;
    column-gap: 10vw;
  }
}

.form {
  width: 23rem;
  height: 30rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 85% 15%;
  justify-items: center;

  @include for-phone {
    padding: 1.4rem 0.8rem;
    grid-row-start: 2;
  }

  @include for-tablet {
    padding: 1.4rem 0.8rem;
    grid-row-start: 2;
  }

  @import '../components/_textfield.scss';
  @import '../components/_datetime.scss';

  &__input-con {
    margin: auto;
    width: 90%;
  }

  &__btn {
    margin-top: 1rem;
    border-radius: 3rem;
    border-style: none;
    font-family: $secondary-font;
    font-size: 1.4rem;
    padding-top: 0.2rem;
    color: $white;
    width: 80%;
    height: fit-content;
    background-color: $blue-wolt;
    opacity: 1;

    &:disabled {
      background-color: $blue-wolt;
      opacity: 0.2;
    }

    &:enabled:active {
      transform: translateY(4px);
    }
  }
}

.result {
  @include for-phone {
    grid-row-start: 1;
    padding: 1rem 0;
  }

  @include for-tablet {
    padding: 2rem 0;
  }

  &__p,
  &__p2 {
    color: $black;
    opacity: $opacity-not-show;
    font-style: italic;

    &--show {
      font-style: normal;
      color: $blue-wolt;
      opacity: $opacity-on-show;
    }
  }

  &__p2 {
    font-size: 5vw;
    @include header-on-phone;

    &--show {
      font-size: 5vw;
      font-weight: 700;

      @include header-on-phone;
    }
  }

  &__btn {
    margin-top: 2rem;
    font-size: $primary-font;
    color: $black;
    opacity: $opacity-not-show;
    border: none;
    background-color: $light-gray;

    @include for-phone {
      margin-top: 0;
    }

    &:hover {
      background-color: $light-gray;
    }
  }
}
