@import './variables.scss';

* {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  text-align: center;
  background-color: $light-gray;
  overflow: hidden;
  color: $black;
  height: 100vh;
}

.header {
  background-color: $blue-wolt;

  &__title {
    font-family: $secondary-font;
    font-size: 3rem;
    font-weight: 700;
    color: $white;
  }
}

.form-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10vw;
  justify-items: center;
  align-items: center;
  padding-left: 25vw;
  padding-right: 25vw;
}

.form {
  padding: 2rem 4rem;
  width: 25vw;
  height: 50vh;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  text-align: left;
  display: grid;
  grid-template-rows: 80% 20%;
  justify-items: center;

  &__input-con {
    margin: auto;
    width: 90%;
  }

  &__btn {
    margin-top: 1rem;
    border-radius: 3rem;
    border-style: none;
    font-family: $secondary-font;
    font-size: 1.4rem;
    padding-top: 0.2rem;
    color: $white;
    width: 80%;
    height: fit-content;
    background-color: $blue-wolt;
    opacity: 1;

    &:disabled {
      background-color: $blue-wolt;
      opacity: 0.2;
    }

    &:enabled:active {
      transform: translateY(4px);
    }
  }
}

.result {
  &__p,
  &__p2 {
    color: $black;
    opacity: $opacity-not-show;
    font-style: italic;

    &--show {
      font-style: normal;
      color: $blue-wolt;
      opacity: $opacity-on-show;
    }
  }

  &__p2 {
    font-size: 3rem;

    &--show {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  &__btn {
    margin-top: 2rem;
    font-size: $primary-font;
    color: $black;
    opacity: $opacity-not-show;
    border: none;
    background-color: $light-gray;

    &:hover {
      background-color: $light-gray;
    }
  }
}
