$blue-wolt: #00c2e8;
$red-error: #ef3e36;
$light-gray: #f8f8f8;
$white: #fff;
$black: #202125;
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Dongle', 'Open Sans', sans-serif;

$opacity-not-show: 0.2;
$opacity-on-show: 1;
